.descCard {
    font-weight: bolder;
}

.letraPainel {
    font-size: 3.7rem;
    color: #FFFFFFFF;
}

.iconePainel{
    float: left;
}

#tabelaScroll{
    overflow-y: auto
}

body{
    width: 100%;
    height: 100%;
}

.btn-group-sm .btn-fab{
    position: fixed !important;
    right: 29px;
}

.btn-group .btn-fab{
    position: fixed !important;
    right: 20px;
}

#main{
    bottom: 20px;
}